// Color Palette
    $primary-color: #F2E6D8;
    $primary-color-50: rgba(242, 230, 216, 0.8);

    $secondary-color: #BF946F;
    $seconday-color-50: rgba( 198, 141, 111, 0.5);

    $tertiary-color: #0A8CBF;


    $quaternary-color: #0869A6;


    $quinary-color: #085CA6;


// Font Stack
    $primary-font: "english-grotesque", sans-serif;
    $secondary-font: "serenity", serif;
